.odometer {
    display: flex;
    justify-content: center; 
}
  
.digit {
    overflow: hidden;
    height: 1em;
    width: 40px;
    position: relative;
    margin: 0 2px 13px 0px; 
}
  
.digit-content {
    position: relative;
    transition: top 0.5s ease-in-out;
}
  
.digit-value {
    height: 1em;
    width: 1em;
}
  
.digit-content::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    top: -1em;
}
  